:root{
    --leter-color:#AAAAAA;
    --primari-color:#4F5665;
    --border-colors:#F53855;
    --text-color:#0B132A;
    --color-tex-white:#FFFFFF;
}
body{
    width: 1260px;
    height: 3993px;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}
.content{
    font-size: 20px;
    justify-content: space-around;
    display: flex;
    width: 1831px;
    padding: 30px 36px;
}
.content >h3{
    margin: 20px 0px 0px -187px;
    color: var(--leter-color);
}
.content >.icon{
    display: flex;
    align-items: center;
}
.content > .enlaces{
    width: 391px;
    align-items: center;
    display: flex;
    margin: 0px 124px 0px 304px;
    justify-content: space-around;
}
.content>.enlaces a{
    color: var(--primari-color); 
    text-decoration: none;
}
.button>.primero{
    padding: 0px 20px 0px 0px;
    border: none;
    background-color: transparent;
}
.button>.segundo{
    color: var(--border-colors);
    background-color: transparent;
    border-color: var(--border-colors);
    width: 161px;
    height: 58px;
    border-radius: 17px;
}
.imagine{
    position: relative;
    display: flex;
    top: -500px;
    left: 1092px;
    width: 656.38px;
    height: 411.14px;

}

.cajonsote{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 855px;
    height: 411.14px;
    top: 23px;
    padding: 70px 161px 50px 99px;
}

.leter-center{
    font-family: Rubik;
    font-size: 92px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;

}
.leter-lef{
    font-family: Rubik;
    font-size: 29px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.boton-get > .botonsote{
    background-color: var(--border-colors);
    border: none;
    border-radius: 25px;
    box-shadow: 0px 20px 70px 0px var(--border-colors);
    width: 250px;
    height: 85.29px;
}

.botonsote> .leter-boton{
    color: var(--color-tex-white);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;

}
.cajones{
    position: absolute;
    align-items: center;
    display: flex;
    top: 600px;
    padding: 65px 64px;
    width: 1775px;
    height: 200px;

    opacity: 0px;
}
hr{
    width: 0px;
    height: 125.57px;
    border: 2px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.caja1{
    justify-content: center;
    display: flex;
    width: 33.3%;

}
.caja1>img{
    position: relative;
    top: 18px;
    width: 55px;
    height: 55px;
}

.caja1>h1{
    color: var(--text-color);
    margin: 10px 10px 10px 40px;
}
  
.caja1>h3{
    position: relative;
    display: flex;

    color: var(--primari-color);
    top: 45px;
    left: -75px;
    margin: 10px 10px 10px 10px;
}

.caja2{
    justify-content: center;
    display: flex;
    width: 33.3%;

}
.caja2>img{
    position: relative;
    top: 18px;
    width: 55px;
    height: 55px;
}


.caja2>h1{
    color: var(--text-color);
    margin: 10px 10px 10px 40px;
}

.caja2>h3{
    position: relative;
    display: flex;
    color: var(--primari-color);
    top: 45px;
    left: -75px;
    margin: 10px 10px 10px 10px;
}

.caja3{
    justify-content: center;
    display: flex; 
    width: 33.3%;
}
.caja3>img{
    position: relative;
    top: 18px;
    width: 55px;
    height: 55px;
}

.caja3>h1{
    color: var(--text-color);
    margin: 10px 10px 10px 40px;
}

.caja3>h3{
    position: relative;
    display: flex;
    color: var(--primari-color);
    top: 45px;
    left: -75px;
    margin: 10px 10px 10px 10px;
}
.carton{
    display: flex;
    width: 1903px;
    height: 600px;
}
.teaching >img{
    left: 180px;
    position: relative;
    width: 629px;
    height: 602px;
}
 .benefi{
    top: 125px;
    left: 452px;
    position: relative;
    width: 629px;
    height: 602px;
 }
 ul{
    color: var(--primari-color);
    list-style: none;
 }

 li{
    color: var(--primari-color);
 }
.benefi > .titulo{
    color: var(--text-color);
    font-family: Rubik;
    font-size: 70px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}

.benefi > p{
    color: var(--leter-color);
    font-family: Rubik;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
ul>img{
    display: flex;
    position: relative;
    top: 20px;
    left: -30px;
}

.letra-inferior{ 
    position: relative;
    justify-content: center;
    display: flex;
    color: var(--text-color);
    width: 660px;
    height: 77px;
    left: 50%;
   
}
.letra-inferior{
    font-size: 20px;
}

.letra-inferior2{ 
    text-align-last: center;
    position: relative;
    display: flex;
    color: var(--text-color);
    width: 660px;
    height: 77px;
    left: 50%
   
}
.letra-inferior2{
    font-size: 20px;
}
.plan{
    display: flex;
    justify-content: space-around;
    width: 1903px;
    height: 760px;
}
.plan>.plan-seccion{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 330px;
    height: 760px;
}
.plan-seccion>img{
    width: 144.9px;
    height: 165.37px;
}

.plan>.plan-seccion1{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 330px;
    height: 760px;
}

.plan-seccion1>img{
    width: 144.9px;
    height: 165.37px;
}

.plan>.plan-seccion2{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 330px;
    height: 760px;
}

.plan-seccion2>img{
    width: 144.9px;
    height: 165.37px;
}

ul{
    list-style: none;
}

.free{
    padding: 250px 10px 10px 10px;
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.botonaso{
    color: var(--border-colors);
    border-color: var(--border-colors);
    background-color: transparent;
    width: 177.88px;
    height: 45px;
    border-radius: 50px;
    border: 2px 0px 0px 0px;
}
.free1{
    padding: 200px 10px 10px 10px;
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.free2{
    padding: 165px 10px 10px 10px;
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.terminadera{
    display: flex;
    justify-content: space-around;
    padding: 150px 150px;
    width: 1603px;
    height: 300px;
}
.redes{
    display: flex;
    background-color: #F53855;
    width: 50px;
    height: 300px;
}

.anuncio{
    display: flex;
    background-color:#4F5665;
    width: 50px;
    height: 300px;

}